/* BreakPoint 1280px TO 1700px */

@media only screen and (max-width: 1200px) 

{	
	/* ************************************************ */
	/* ************************************************ */
	/* ************************************************ */
	/* ************         Header          *********** */

	.header_logo {
		margin-left: 10%;
	}

	/* ************************************************ */
	/* ************************************************ */
	/* ************************************************ */
	/* ************         Masthead        *********** */

	.masthead_content {
		top: 30%;
	}

	.masthead_buttons {
		top: 40%;
	}

	.masthead_content_title_one {
		font-size:  30px;
	}

	.masthead_content_title_two {
		font-size: 30px;
	}

	.masthead_content_text {
		font-size: 20px;
	}


	/* ************************************************ */
	/* ************************************************ */
	/* ************************************************ */
	/* ************         Services        *********** */

	.services_head {
		margin-left: 25%;
	}

	.services_blocks_img {
		margin-left: 0;
		padding-left: 4%;
		width: 50%;
		padding:  0;
	}

	
	/* ************************************************ */
	/* ************************************************ */
	/* ************************************************ */
	/* ************         Projects        *********** */

	.projects_posts_blocks {
		height: 200px;
	}

	.projects_posts_blocks_img {
		height: 200px;
	}

	.projects_posts_blocks_info button {
		width: 40px;
		height: 40px;
		top: -20px;
	}

}